@{
    ViewBag.Title = "Home Page";
}

<h2>StartPage</h2>
<div>@Html.ActionLink("Add new Album", "Create", "Album")</div>
<h3>Albums</h3>
@for (var x = 0; x < @Model.Count; x++)
{
    <div>
       <span> Name: @Model[x].Name </span><span>Topic: @Model[x].Topic.ToString();</span> 
    </div>
   
}
